<a href="https://colab.research.google.com/github/ChanceDurr/MyUberEats/blob/master/myubereats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/ChanceDurr/MyUberEats/master/uber_hist.csv')

In [23]:
df.head(-10)

   timestamp_pickup day_of_week   start_city  ... boost  uber_receives  total
0     5/18/19 16:53    Saturday       Auburn  ...   NaN           3.16   7.37
1     5/18/19 17:23    Saturday       Auburn  ...   NaN           2.51   5.87
2     5/18/19 17:56    Saturday       Auburn  ...   NaN           2.40   5.59
3     5/19/19 17:08      Sunday  Federal Way  ...   NaN           2.42   5.65
4     5/19/19 17:26      Sunday  Federal Way  ...   NaN           5.31  12.40
5     5/19/19 17:59      Sunday         Kent  ...   NaN           3.72   8.68
6     5/20/19 13:00      Monday       Auburn  ...   NaN           2.75   9.41
7     5/20/19 13:13      Monday    Covington  ...   NaN           3.28   9.64
8     5/20/19 13:54      Monday  Federal Way  ...   NaN           3.98  11.30
9     5/20/19 17:03      Monday    Covington  ...   NaN           6.43  19.00
10    5/20/19 18:20      Monday       Auburn  ...   NaN           3.58  12.34
11    5/20/19 18:54      Monday       Auburn  ...   NaN           3.02   7.03
12    5/21/19 15:32     Tuesday       Auburn  ...   NaN           2.14   5.00
13    5/21/19 15:47     Tuesday       Auburn  ...   NaN           2.33   5.45
14    5/22/19 14:29   Wednesday       Auburn  ...   NaN           2.17   5.06
15    5/22/19 14:45   Wednesday         Kent  ...   NaN           2.57   8.00
16    5/22/19 15:14   Wednesday         Kent  ...   NaN           1.49   5.49
17    5/22/19 18:55   Wednesday    Covington  ...   NaN           4.29  10.00
18     6/4/19 13:05     Tuesday       Auburn  ...   NaN           2.44   5.70
19     6/4/19 13:14     Tuesday       Auburn  ...   NaN           1.50   3.51
20     6/4/19 13:28     Tuesday       Auburn  ...   NaN           2.30   5.38
21     6/4/19 17:14     Tuesday  Federal Way  ...   NaN           2.57   6.00
22     6/4/19 17:53     Tuesday  Federal Way  ...   NaN           3.02   7.05
23     6/4/19 18:16     Tuesday  Federal Way  ...   NaN           1.68   3.92
24     6/5/19 17:06   Wednesday       Auburn  ...   NaN           3.48  12.12
25     6/5/19 17:23   Wednesday       Renton  ...   NaN           6.00  14.00
26     6/5/19 18:01   Wednesday     Issaquah  ...  1.20           5.66  17.19
27     6/5/19 18:56   Wednesday      Redmond  ...  4.80           7.20  16.80
28     6/5/19 19:47   Wednesday      Redmond  ...  1.54           2.31   5.40
29     6/5/19 19:51   Wednesday      Redmond  ...  1.50           2.26   5.26
30     6/6/19 18:23    Thursday       Renton  ...  0.96           2.47   8.25
31     6/6/19 18:41    Thursday         Kent  ...  1.88           4.82  19.25
32     6/6/19 19:17    Thursday       Burien  ...  1.10           2.82   7.09
33     6/8/19 18:29    Saturday     Issaquah  ...  5.68           6.50  19.16
34     6/8/19 18:55    Saturday     Bellevue  ...  1.44           2.68  10.26
35     6/8/19 19:01    Saturday     Bellevue  ...  3.14           5.84  13.63
36     6/9/19 18:36      Sunday       Auburn  ...  2.03           3.04  13.10
37     6/9/19 18:54      Sunday       Auburn  ...  3.10           4.65  16.86
38     6/9/19 19:17      Sunday         Kent  ...  1.46           2.18   5.10
39     6/9/19 19:39      Sunday         Kent  ...  3.23           4.85  11.32
40    6/12/19 18:14   Wednesday  Federal Way  ...   NaN           5.57  13.00
41    6/12/19 18:44   Wednesday         Kent  ...   NaN           2.66   6.20
42    6/12/19 19:34   Wednesday       Auburn  ...   NaN           3.39  11.90
43    6/12/19 19:58   Wednesday         Kent  ...   NaN           3.44  10.01
44    6/13/19 18:24    Thursday       Auburn  ...   NaN           1.73   4.05
45    6/13/19 18:39    Thursday       Auburn  ...   NaN           3.73  10.69
46    6/13/19 18:54    Thursday         Kent  ...   NaN           6.07  20.17
47    6/13/19 19:53    Thursday    Covington  ...   NaN           4.44  12.34
48    6/13/19 20:35    Thursday    Covington  ...   NaN           3.44  10.03
49    6/14/19 17:44      Friday          NaN  ...   NaN            NaN   7.89
50    6/14/19 18:03      Friday          NaN  ...   NaN            NaN   9.91
51              NaN         NaN          NaN  ...   NaN            NaN    NaN

[52 rows x 17 columns]

In [27]:
df.describe()

       double_delivery  duration_min  ...  uber_receives       total
count        49.000000     50.000000  ...      50.000000   52.000000
mean          0.040816     20.218050  ...       6.891600   19.070000
std           0.199915      7.318183  ...      23.912946   67.557339
min           0.000000      9.600000  ...       1.490000    3.510000
25%           0.000000     14.750025  ...       2.425000    5.687500
50%           0.000000     20.517350  ...       3.100000    9.525000
75%           0.000000     25.329200  ...       4.597500   12.355000
max           1.000000     42.816700  ...     172.290000  495.820000

[8 rows x 13 columns]